// цветовая палитра

$color-white: #f0f1fb;
$color-black: #212d31;
$color-primary: #0062ff;
$color-yellow: #ffb800;
$color-green: #14e4b1;
$color-red: #dc3545;

// типография

$fz-small: 12px;
$fz-body: 15px;
$fz-medium: 20px;
$fz-subtitle: 30px;
$fz-h3: 40px;
$fz-h2: 50px;
$fz-h1: 60px;


// переходs
$st-trans: .3s;

// размеры экрана
$content-size-1:1320px;
