@use '@/shared/styles' as *;

.tab {
  transition: background-color $st-trans;
  background-color: var(--color-bg);
  width: 100%;
  font-family: 'Mulish';
  font-size: $fz-body;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
  &_active,&:hover {
    background-color: var(--color-hover);
  }
}
.icon {
  width: 20px;
  height: 20px;
}