@use '@/shared/styles' as *;

.tab {
  @extend %flex-center;
  width: 293px;
  height: 100px;
  border-radius: 30px;
  box-shadow: 0px 13px 20px rgba($color: #000000, $alpha: 0.05);
  padding-left: 37px;
  cursor: pointer;
}
.text {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: $fz-body;
  color: var(--color-bg);
  width: 150px;
}