@use '@/shared/styles' as *;

.bar {
  height: 5px;
  border-radius: 50px;
  background-color: rgba($color: $color-primary, $alpha: 0.2);
}
.progress {
  background-color: $color-primary;
  width: 39px;
  height: 5px;
  border-radius: 50px;
  transition: $st-trans;
}
.text {
  font-family: 'Mulish';
  font-size: $fz-body;
  font-weight: 500;
  color: $color-primary;
}
.header {
  font-family: 'Mulish';
  font-weight: 500;
  font-size: $fz-body;
}