@use '@/shared/styles' as *;

.input-container {
  &__input {
    border-radius: 10px;
    background-color: var(--color-input);
    padding-right: 70px;
    padding-left: 15px;
    transition: $st-trans;
    outline: 0;
    border: none;
    &:focus {
      outline: 1px solid $color-primary;
    }
  }
  &__label {
    font-family: 'Mulish';
    font-weight: 500;
    font-size: 15px;
    color: var(--color-text);
  }
  &__forget-text {
    color: $color-primary;
    font-family: 'Mulish';
    font-size: 10px;
    font-weight: 500;
    text-decoration: underline;
  }
  &__eye {
    top: 8px;
    left: 350px;
    
  }
}