@use '@/shared/styles' as *;

.container {
  width: $content-size-1;
  height: 800px;
  border-radius: 30px;
  padding: 50px 31px 50px 64px;
  background-color: var(--color-tabs);
  transition: $st-trans;
  display: flex;
  gap: 35px;
  box-shadow: 0px 13px 20px rgba($color: #000000, $alpha: 0.05);
}
.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content {
  @include fade-in(0.5s);
  width: 897px;
  height: 700px;
  border-radius: 30px;
  box-shadow: 0px 13px 20px rgba($color: #000000, $alpha: 0.05);
  img {
    @include levitate(8s);
  }
}
.header {
  color: var(--color-bg);
  font-family: 'Mulish';
  font-weight: 700;
  font-size: $fz-medium;
  margin-bottom: 30px;
  width: 818px;
}
.text {
  width: 818px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: $fz-body;
  color: var(--color-bg);
  margin-bottom: 150px;
}
.tab {
  background-color: var(--color-tabs);
}

@media (max-width:$content-size-1) {
  .container {
    width: $content-size-2;
  }
  .header,.text {
    width: 500px;
  }
  .content {
    width: 600px;
    padding-top: 10px;
  }
}
@media (max-width:$content-size-2) {
  .container {
    width: $content-size-3;
  }
  .header,.text {
    width: 300px;
    margin-bottom: 30px;
  }
  .content {
    width: 400px;
  }
}

@media (max-width:$content-size-3) {
  .container {
    width: $content-size-4;
    flex-direction: column;
    gap: 0;
    height: auto;
    padding: 10px;
  }
  .content {
    width: 100%;
  }
}