@use '@/shared/styles' as *;

.container {
  width: $content-size-1;
  height: 800px;
  border-radius: 30px;
  padding: 50px 31px 50px 64px;
  background-color: var(--color-tabs);
  transition: $st-trans;
  display: flex;
  gap: 35px;
  box-shadow: 0px 13px 20px rgba($color: #000000, $alpha: 0.05);
}
.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content {
  @include fade-in(0.5s);
  width: 897px;
  height: 700px;
  border-radius: 30px;
  box-shadow: 0px 13px 20px rgba($color: #000000, $alpha: 0.05);
  img {
    @include levitate(8s);
  }
}
.header {
  color: var(--color-text);
  font-family: 'Mulish';
  font-weight: 700;
  font-size: $fz-medium;
  margin-bottom: 30px;
  width: 818px;
}
.text {
  width: 818px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: $fz-body;
  color: var(--color-text);
  margin-bottom: 150px;
}
.tab {
  background-color: var(--color-tabs);
}