@font-face {
  font-family: 'Mulish';
  src: url("@/shared/assets/fonts/Mulish/Mulish-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url("@/shared/assets/fonts/Mulish/Mulish-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url("@/shared/assets/fonts/Mulish/Mulish-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url("@/shared/assets/fonts/Mulish/Mulish-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'RoadRadio';
  src: url("@/shared/assets/fonts/RoadRadio/roadradio_bold.otf");
  font-weight: 700;
  font-display: swap;
}